.Header {
  width: 100%;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #777;
}

.Header h1 {
  width: 100%;
  text-align: center;
  color: #14171d;
  margin: 5px;
}

.Header nav {
  color: #26419c;
  background-color: #14171d;
  width: 60px;
  text-align: center;
}

.Header img {
  margin-top: 10px;
  cursor: pointer;
}
